In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import Row
appName= "hive_pyspark"
master= "local"

In [2]:
spark = SparkSession.builder.appName(appName).enableHiveSupport().getOrCreate()

23/01/04 14:45:17 WARN util.Utils: Your hostname, node1 resolves to a loopback address: 127.0.0.1; using 10.0.2.15 instead (on interface enp0s3)
23/01/04 14:45:17 WARN util.Utils: Set SPARK_LOCAL_IP if you need to bind to another address
23/01/04 14:45:18 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [4]:
df=spark.sql("show tables;")
df.show()

+--------+--------------+-----------+
|database|     tableName|isTemporary|
+--------+--------------+-----------+
| default|aqicn_readings|      false|
| default|     employees|      false|
| default|      salaries|      false|
| default|          wifi|      false|
+--------+--------------+-----------+

In [5]:
df=spark.sql("select * from aqicn_readings;")
df.show()

+----------+--------------------+--------------+--------------+--------------------+-------------------+---+----+----+
|station_id|        station_name|      latitude|     longitude|            location|           datetime|aqi|pm10|pm25|
+----------+--------------------+--------------+--------------+--------------------+-------------------+---+----+----+
|    239923|               Rybna|        52.156|        20.942|Rybna, Załuski, W...|2023-01-04 13:19:30| 62|  37|  62|
|     96421| Jana Kossakowskiego|        52.208|        21.192|Jana Kossakowskie...|2023-01-04 13:19:51| 54|  24|  54|
|    230809|         Radzymińska|        52.258|        21.052|Radzymińska, Szmu...|2023-01-04 13:19:41| 54|  29|  54|
|    250840|     Edwarda Wittiga|        52.314|        20.962|Edwarda Wittiga, ...|2023-01-03 14:30:16| 13|   5|  13|
|    112837|Pułkownika Mieczy...|        52.268|        20.944|Pułkownika Mieczy...|2023-01-03 14:28:05|  9|   4|   9|
|     86788|           Sztygarów|        52.182|        21.206|Sztygarów, Radość...|2023-01-03 14:30:49| 12|   6|  12|
|    174391|            Sęczkowa|         52.21|        21.112|Sęczkowa, Las, Wa...|2023-01-03 14:11:36|  7|   4|   7|
|     75943|            Liwiecka|        52.242|        21.118|Liwiecka, Gocławe...|2023-01-03 14:13:51|  7|   4|   7|
|     66979| Powstańców Śląskich|        52.222|        20.916|Powstańców Śląski...|2023-01-03 14:24:38| 10|   5|  10|
|     64396|    Ursynów Zachodni|        52.152|        21.032|Szkoła Podstawowa...|2023-01-03 14:28:31| 12|   4|  12|
|     93862| Jana Piekałkiewicza|52.19380433137|21.05125039816|Jana Piekałkiewic...|2023-01-03 14:30:22| 10|   5|  10|
|     65755|        Biały Kamień|        52.206|        20.996|Biały Kamień, Gór...|2023-01-03 14:32:17|  5|   7|   5|
|     63571|        Białobrzeska|         52.22|        20.978|Białobrzeska, Sta...|2023-01-03 14:32:48|  9|   2|   9|
|    181183|           Pohulanka|52.27806061104|21.08886569738|Pohulanka, Elsner...|2023-01-04 13:19:45| 53|  18|  53|
|    351289|          Majolikowa|   52.32796575|20.95551068533|Majolikowa, Tarch...|2023-01-03 14:20:49|  4|   4|   4|
|    206365|Podpułkownika Wac...|        52.252|        20.922|Podpułkownika Wac...|2023-01-03 14:30:37|  6|   3|   6|
|    239923|               Rybna|        52.156|        20.942|Rybna, Załuski, W...|2023-01-03 12:52:17|  4|   5|   4|
|     64240|           Kaczy Dół|         52.21|        21.174|Kaczy Dół, Między...|2023-01-03 12:53:44|  6|   4|   6|
|    361018|          Afrykańska|     52.228411|      21.06932|Afrykańska, Kępa ...|2023-01-03 12:54:28| 66|  26|  66|
|    181183|           Pohulanka|52.27806061104|21.08886569738|Pohulanka, Elsner...|2023-01-03 12:36:05|  6|   5|   6|
+----------+--------------------+--------------+--------------+--------------------+-------------------+---+----+----+
only showing top 20 rows

In [6]:
df.describe()

DataFrame[summary: string, station_id: string, station_name: string, latitude: string, longitude: string, location: string, aqi: string, pm10: string, pm25: string]

In [7]:
df.show(1, vertical=True)

-RECORD 0----------------------------
 station_id   | 239923
 station_name | Rybna
 latitude     | 52.156
 longitude    | 20.942
 location     | Rybna, Załuski, W...
 datetime     | 2023-01-04 13:19:30
 aqi          | 62
 pm10         | 37
 pm25         | 62
only showing top 1 row

In [12]:
df.count()

1913

In [13]:
df.dropDuplicates(['station_id', 'datetime']).count()

888